* {
  box-sizing: border-box;
}

body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbnLoXn8ZhiXo9EMKFFX2McmX-OtjmmlTInEutXWTnNI2m9Ye-M8t1i9ne:https://images.unsplash.com/photo-1537147347432-676815edd56c%3Ffm%3Djpg%26q%3D60%26w%3D3000%26auto%3Dformat%26fit%3Dcrop%26ixlib%3Drb-4.1.0%26ixid%3DM3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHx8&s=10);
  color: rgb(250, 249, 249);
  padding: 10px;
  font-family: 'Times New Roman', Times, serif,
}

#all-contents {
  max-width: 800px;
  margin: auto;
}

/* navigation menu */
nav{
  background: black;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
  width: 750px;
}

h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
}

#nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-li{
  display: inline-block;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: white;
}

/* main container area beneath menu*/
main{
  background: invisable;
  display: flex;
  margin-top: 50px;
  height: 270px;
}

.sidebar{
  margin-right: 25px;
  padding: 10px;
}

.sidebar-img{
  width: 215px;
}

.content{
  flex: 1;
  padding: 15px;
}

/* interests section styles*/
#interests{
  border: 4px silver ridge;
  padding: 8px;
  margin-top: 20px;
}

h2, h3{
  margin: 0px;
}

/* Portfolio styles */
.content h1 {
  color: white;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #eee;
}

#portfolio a {
  text-decoration: none;
  color: #454545;
}